body{
	margin:0;
	padding: 0;
	background: url('../img/122.jpg');
	background-size: cover;

}
body,html{
	height:100%;
	overflow: hidden;
}
#changjing{
	width:615px;
	height:685px;
	margin: -80px auto;
	padding:68px 100px;
	border-radius: 25px;
	overflow: hidden;
	background: url('../img/3.jpg');
	/*background: red;*/
	background-size: cover;

}
#sence{
	/*border: 1px solid black;*/
	width:600px;
	height: 600px;
	margin: 30px auto;
	background:#f1d277;
	position: relative;
	background: url('../img/1.jpg');

}
.block{
	margin: 0 1px 1px 0;
	border-radius: 50%;
	float: left;
	position: relative;
	z-index: 1;

}
